<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.mapper.FilesMapper">
  <resultMap id="BaseResultMap" type="com.newer.domain.Files">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="file_page" jdbcType="VARCHAR" property="filePage" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="printed" jdbcType="INTEGER" property="printed" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, uid, file_name, file_size, file_page, url, upload_time, expire_time, status, 
    printed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yin_files
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yin_files
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.domain.Files">
    insert into yin_files (fid, uid, file_name, 
      file_size, file_page, url, 
      upload_time, expire_time, status, 
      printed)
    values (#{fid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=DOUBLE}, #{filePage,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{printed,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.newer.domain.Files">
    insert into yin_files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="filePage != null">
        file_page,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="printed != null">
        printed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="filePage != null">
        #{filePage,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="printed != null">
        #{printed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newer.domain.Files">
    update yin_files
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="filePage != null">
        file_page = #{filePage,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="printed != null">
        printed = #{printed,jdbcType=INTEGER},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newer.domain.Files">
    update yin_files
    set uid = #{uid,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      file_page = #{filePage,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      printed = #{printed,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="1com.newer.domain.Files">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
    <result column="file_page" jdbcType="VARCHAR" property="filePage" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="printed" jdbcType="INTEGER" property="printed" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, uid, file_name, file_size, file_page, url, upload_time, expire_time, status, 
    printed
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yin_files
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yin_files
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="1com.newer.domain.Files">
    insert into yin_files (fid, uid, file_name, 
      file_size, file_page, url, 
      upload_time, expire_time, status, 
      printed)
    values (#{fid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=DOUBLE}, #{filePage,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{printed,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="1com.newer.domain.Files">
    insert into yin_files
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="filePage != null">
        file_page,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="printed != null">
        printed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="filePage != null">
        #{filePage,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="printed != null">
        #{printed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="1com.newer.domain.Files">
    update yin_files
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="filePage != null">
        file_page = #{filePage,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="printed != null">
        printed = #{printed,jdbcType=INTEGER},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="1com.newer.domain.Files">
    update yin_files
    set uid = #{uid,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      file_page = #{filePage,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      printed = #{printed,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>