<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newer.mapper.InvoicesMapper" >
  <resultMap id="BaseResultMap" type="com.newer.domain.Invoices" >
    <id column="invoiceId" property="invoiceid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="transId" property="transid" jdbcType="VARCHAR" />
    <result column="payed" property="payed" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    invoiceId, price, transId, payed
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yin_invoices
    where invoiceId = #{invoiceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yin_invoices
    where invoiceId = #{invoiceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.domain.Invoices" >
    insert into yin_invoices (invoiceId, price, transId, 
      payed)
    values (#{invoiceid,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{transid,jdbcType=VARCHAR}, 
      #{payed,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.newer.domain.Invoices" >
    insert into yin_invoices
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoiceid != null" >
        invoiceId,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="transid != null" >
        transId,
      </if>
      <if test="payed != null" >
        payed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoiceid != null" >
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="transid != null" >
        #{transid,jdbcType=VARCHAR},
      </if>
      <if test="payed != null" >
        #{payed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newer.domain.Invoices" >
    update yin_invoices
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="transid != null" >
        transId = #{transid,jdbcType=VARCHAR},
      </if>
      <if test="payed != null" >
        payed = #{payed,jdbcType=INTEGER},
      </if>
    </set>
    where invoiceId = #{invoiceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newer.domain.Invoices" >
    update yin_invoices
    set price = #{price,jdbcType=DOUBLE},
      transId = #{transid,jdbcType=VARCHAR},
      payed = #{payed,jdbcType=INTEGER}
    where invoiceId = #{invoiceid,jdbcType=INTEGER}
  </update>
</mapper>