<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.newer.domain.Task">
    <id column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="invoiceId" jdbcType="INTEGER" property="invoiceid" />
    <result column="printcode" jdbcType="VARCHAR" property="printcode" />
    <result column="color" jdbcType="INTEGER" property="color" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="printId" jdbcType="INTEGER" property="printid" />
    <result column="transId" jdbcType="INTEGER" property="transid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="print_time" jdbcType="TIMESTAMP" property="printTime" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    taskId, uid, invoiceId, printcode, color, status, printId, transId, create_time, 
    print_time, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yin_task
    where taskId = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yin_task
    where taskId = #{taskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newer.domain.Task">
    insert into yin_task (taskId, uid, invoiceId, 
      printcode, color, status, 
      printId, transId, create_time, 
      print_time, price)
    values (#{taskid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{invoiceid,jdbcType=INTEGER}, 
      #{printcode,jdbcType=VARCHAR}, #{color,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{printid,jdbcType=INTEGER}, #{transid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{printTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.newer.domain.Task">
    insert into yin_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskId,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="invoiceid != null">
        invoiceId,
      </if>
      <if test="printcode != null">
        printcode,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="printid != null">
        printId,
      </if>
      <if test="transid != null">
        transId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="printTime != null">
        print_time,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="printcode != null">
        #{printcode,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="printid != null">
        #{printid,jdbcType=INTEGER},
      </if>
      <if test="transid != null">
        #{transid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null">
        #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newer.domain.Task">
    update yin_task
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        invoiceId = #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="printcode != null">
        printcode = #{printcode,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="printid != null">
        printId = #{printid,jdbcType=INTEGER},
      </if>
      <if test="transid != null">
        transId = #{transid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null">
        print_time = #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newer.domain.Task">
    update yin_task
    set uid = #{uid,jdbcType=INTEGER},
      invoiceId = #{invoiceid,jdbcType=INTEGER},
      printcode = #{printcode,jdbcType=VARCHAR},
      color = #{color,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      printId = #{printid,jdbcType=INTEGER},
      transId = #{transid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      print_time = #{printTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE}
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="1com.newer.domain.Task">
    <id column="taskId" jdbcType="INTEGER" property="taskid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="invoiceId" jdbcType="INTEGER" property="invoiceid" />
    <result column="printcode" jdbcType="VARCHAR" property="printcode" />
    <result column="color" jdbcType="INTEGER" property="color" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="printId" jdbcType="INTEGER" property="printid" />
    <result column="transId" jdbcType="INTEGER" property="transid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="print_time" jdbcType="TIMESTAMP" property="printTime" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    taskId, uid, invoiceId, printcode, color, status, printId, transId, create_time, 
    print_time, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yin_task
    where taskId = #{taskid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yin_task
    where taskId = #{taskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="1com.newer.domain.Task">
    insert into yin_task (taskId, uid, invoiceId, 
      printcode, color, status, 
      printId, transId, create_time, 
      print_time, price)
    values (#{taskid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{invoiceid,jdbcType=INTEGER}, 
      #{printcode,jdbcType=VARCHAR}, #{color,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{printid,jdbcType=INTEGER}, #{transid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{printTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="1com.newer.domain.Task">
    insert into yin_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskId,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="invoiceid != null">
        invoiceId,
      </if>
      <if test="printcode != null">
        printcode,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="printid != null">
        printId,
      </if>
      <if test="transid != null">
        transId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="printTime != null">
        print_time,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="printcode != null">
        #{printcode,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="printid != null">
        #{printid,jdbcType=INTEGER},
      </if>
      <if test="transid != null">
        #{transid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null">
        #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="1com.newer.domain.Task">
    update yin_task
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        invoiceId = #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="printcode != null">
        printcode = #{printcode,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="printid != null">
        printId = #{printid,jdbcType=INTEGER},
      </if>
      <if test="transid != null">
        transId = #{transid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null">
        print_time = #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="1com.newer.domain.Task">
    update yin_task
    set uid = #{uid,jdbcType=INTEGER},
      invoiceId = #{invoiceid,jdbcType=INTEGER},
      printcode = #{printcode,jdbcType=VARCHAR},
      color = #{color,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      printId = #{printid,jdbcType=INTEGER},
      transId = #{transid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      print_time = #{printTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE}
    where taskId = #{taskid,jdbcType=INTEGER}
  </update>
</mapper>